<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Novo pet</h1>
        <div class="col-6 offset-3">
            <form action="/pets" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="name">Nome do Pet</label>
                    <input class="form-control" type="text" name="pet[name]" id="name">
                </div>
                <!-- <div class="mb-3">
                    <label class="form-label" for="location">Localização do Pet</label>
                    <input class="form-control" type="text" name="pet[location]" id="location">
                </div> -->
                <div class="mb-3">
                    <label class="form-label" for="location">Localização do Pet</label>
                    <select class="form-select" id="location" aria-label="Default select example" name="pet[location]">
                        <option selected>Recife</option>
                    </select>
                </div>
                <label class="form-label" for="location">Marque as opções abaixo:</label>
                <div class="form-check">
                    <!-- <input class="form-check-input" type="hidden" value="0" name="pet[castrated]"> -->
                    <input class="form-check-input" type="checkbox" value="1" id="castratedCheck" name="pet[castrated]">
                    <label class="form-check-label" for="castratedCheck">
                        Castrado?
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="1" id="vaccinatedCheck"
                        name="pet[vaccinated]">
                    <label class="form-check-label" for="vaccinatedCheck">
                        Vacinado?
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="1" id="dewormedCheck" name="pet[dewormed]">
                    <label class="form-check-label" for="dewormedCheck">
                        Vermifugado?
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="1" id="readyCheck"
                        name="pet[readyForAdoption]">
                    <label class="form-check-label" for="readyCheck">
                        Pronto para adoção?
                    </label>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Descrição</label>
                    <textarea class="form-control" type="text" name="pet[description]" id="description"></textarea>
                </div>
                <div class="mb-3 mt-3">
                    <button class="btn btn-success">Adicionar pet</button>
                </div>
            </form>
            <a href="/pets">Todos os pets</a>
        </div>
    </div>