<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>

<body>
    <h1>
        <%= pet.name %>
    </h1>
    <h2>
        <%= pet.location %>
    </h2>
    <p>
        <a href="/pets/<%= pet._id %>/edit">Editar</a>
    </p>
    <p>
    <form action="/pets/<%= pet._id %>?_method=DELETE" method="POST">
        <button>Remover pet</button>
    </form>
    </p>
    <footer>
        <a href="/pets">Todos os pets</a>
    </footer>
</body>

</html>